.card__text {
  padding-left: 28px;
  padding-right: 27px;
  padding-bottom: 27px;
  padding-top: 28px;
}

.card__title {
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $black;
  display: block;
}

.card__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: $border-grey;
  margin-top: 5px;
}

.card__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: $black;
  margin: 0;
  margin-top: 41px;
}

.card__image {
  width: 100%;
  // height: 195px;
  // margin-bottom: 24px;
  display: block;
}



@media (min-width: $tablet) {
  .card__title {
    font-size: 20px;
    padding-right: 31px;
  }

  .card__description {
    font-size: 15px;
  }

  .card__price {
    font-size: 17px;
    margin: 0;
  }

  .card__image {
    // height: 334px;
    min-width: 334px;
  }

  .card__text {
    padding: 32px 27px 27px 32px;
    display: flex;
    flex-direction: column;
  }

  .card__footer {
    margin-top: auto;
  }
}

@media (min-width: $desktop) {
  .card__image {
    height: 100%;
    width: auto;
  }

  .card__text {
    padding: 27px 27px 26px 26px;
    min-height: 141px;
  }

  .card__title {
    padding-right: 29px;
  }

  .card__description {
    margin-bottom: 0;
  }

  .card__image-link {
    height: 462px;
    display: block;
    overflow: hidden;
  }
}
