.catalog-page__video {
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #ececec;
  margin-bottom: 58px;
}

@media (min-width: $tablet) {
  .catalog-page__video {
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    margin-bottom: 64px;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }
}


@media (min-width: $desktop) {
  .catalog-page__video {
    margin: 0 auto;
    width: 367px;
    margin-bottom: 103px;
  }

  .catalog-page__catalog {
    margin-bottom: 55px;
  }
}
