.catalog-list {
  list-style: none;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.catalog-list__item {
  border: 1px solid $light-grey;
  margin-bottom: 30px;
}

@media (min-width: $tablet) {
  .catalog-list {
    margin: 50px;
    margin-bottom: 67px;
  }

  .catalog-list__item {
    display: flex;
    margin-top: 68px;
    margin-bottom: -21px;
  }
}

@media (min-width: $desktop) {
  .catalog-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 51px;
  }

  .catalog-list__item {
    display: initial;
    min-height: 659px;
  }
}
