.contacts {
  margin-bottom: 39px;
}

.contacts__list {
  list-style: none;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $border-grey;
  margin-bottom: 63px;
}

.contacts__item {
  display: flex;
  margin-bottom: 30px;
}

.contacts__list-term {
  margin-right: 34px;
}

.contacts__title {
  margin-bottom: 28px;
}

.contacts__mail-link {
  text-decoration: none;
  color: $border-grey;
  display: inline;
  border-bottom: 1px solid #62d1ba;
  padding-bottom: 2px;

  &:hover {
    color: $blue-mail;
  }

  &:active {
    opacity: 0.3;
    border-bottom: 1px solid $blue-opasity;
  }
}

.contacts__content-wrapper {
  margin-bottom: 62px;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1150px;
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__button-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1150px;
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__map {
  height: 454px;
  margin-bottom: 41px;
  position: relative;
  width: 100%;
}

.contacts__button {
  font-size: 18px;
  line-height: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
}

@media (min-width: $tablet) {
  .contacts {
    margin-bottom: 57px;
    margin-top: 154px;
  }

  .contacts__list {
    font-size: 17px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 18px;
  }

  .contacts__list-term {
    margin-right: 25px;
  }

  .contacts__button {
    width: 206px;
    margin: 0 auto;
    font-size: 17px;
  }

  .contacts__map {
    height: 457px;
    margin-bottom: 55px;
  }

  .contacts__title {
    margin-bottom: 49px;
  }

  .contacts__item {
    width: 311px;
  }

  .contacts__content-wrapper {
    margin-bottom: 18px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .contacts__mail-link {
    position: relative;
    padding-bottom: 3px;
  }
}

@media (min-width: $desktop) {
  .contacts {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1150px;
    width: 1050px;
    padding-left: 174px;
    position: relative;
    margin-top: 287px;
  }

  .contacts__list {
    grid-template-columns: none;
    margin-bottom: 54px;
  }

  .contacts__title {
    margin-bottom: 35px;
  }

  .contacts__map {
    position: absolute;
    top: -79px;
    right: -1px;
  }

  .contacts__button {
    margin: unset;
    margin-right: auto;
  }

  .contacts__content-wrapper {
    margin-bottom: 54px;
    padding: 0;
  }

  .contacts__button-wrapper {
    padding: 0;
  }

  .contacts__mail-link {
    padding-bottom: 8px
  }
}
