.copyright {
  margin-left: 20px;
  margin-right: 20px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  // color: $darkgrey;
  padding-top: 15px;
  padding-bottom: 22px;
  align-items: center;
}

.copyright__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
}

// .copyright__svg {
//   fill: $darkgrey3;
// }

// .copyright__link:hover .copyright__svg {
//   fill: $green;
// }

@media (min-width: $tablet) {
  .copyright {
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
  }

  .copyright__text {
    margin-right: 22px;
  }

  .copyright__link {
    padding-top: 21px;
  }
}
