.greeting {
  position: relative;
}

.greeting__title {
  padding: 0 30px 104px;
  text-align: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin: 0 auto;
  width: 260px;
}

.greeting__list {
  list-style: none;
  padding: 0;
}

.greeting__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.greeting__icon {
  padding-right: 36px;
  position: absolute;
  bottom: 50%;
  right: 0;
  transform: translateY(50%);
}

.greeting__icon--interior {
  bottom: 46%;
  transform: translateY(48%);
}

.greeting__icon--toy {
  padding-right: 27px;
}

// .greeting__item {
//   width: 130px;
// }

.greeting__item--decor {
  background: $light-blue;
}

.greeting__item--toy {
  background: $light-blue-second;
}

.greeting__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $white;
  padding: 25px 0 30px 30px;
  display: block;
  max-width: 130px;
}

.greeting__content-wrapper {
  padding: 73px 0 0;
  min-height: 489px;
}

.greeting__content-wrapper::before {
  content: "";
  display: block;
  height: 100%;
  background: url("../img/hero-mobile.jpg") no-repeat center 0;
  background-size: auto 76%;
  z-index: -1;
  width: 100%;
  position: absolute;
  top: -18px;
  left: 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

@media (min-width: $tablet) {
  .greeting {
    background: red;

    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/zigzag-tablet.svg);
      background-repeat: repeat-x;
      bottom: 0;
      width: 100%;
      height: 24px;
      left: 0;
      z-index: 20;
    }
  }

  .greeting__title {
    font-size: 43px;
    line-height: 50px;
    padding: 0px 50px;
    padding-bottom: 355px;
    margin: 0;
    width: auto;
    position: relative;
    z-index: 20;
  }

  .greeting__content-wrapper {
    padding-top: 84px;
  }

  .greeting__content-wrapper::before {
    background: url("../img/hero-tablet.jpg") no-repeat center 0;
    background-size: auto 111%;
    top: -84px;
    z-index: 10;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .greeting__list {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;
    z-index: 10;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   background-image: url(../img/zigzag-tablet.svg);
    //   background-repeat: repeat-x;
    //   bottom: 0;
    //   width: 100%;
    //   height: 24px;
    //   left: 0;
    // }
  }

  .greeting__item {
    z-index: 20;
  }

  .greeting__text {
    font-size: 20px;
    line-height: 30px;
    padding: 26px 168px 45px 36px;
  }
}

@media (min-width: $desktop) {
  .greeting__title {
    font-size: 53px;
    line-height: 57px;
    width: 700px;
    display: block;
    margin: 0 auto;
  }

  .greeting__content-wrapper::before {
    background: url("../../img/hero-desktop.jpg") no-repeat center 0;
    background-size: auto 109%;
    top: -88px;


    @media (min-resolution: 2dppx) {
      background-image: url("../../img/hero-desktop@2x.jpg");
    }
  }

  .greeting__content-wrapper {
    padding: 70px 0 0;
    position: relative;
  }

  .greeting__text {
    padding-right: 359px;
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .greeting__list {
    margin-top: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      background-image: url("../img/zigzag-fill-desktop-for-blue.svg");
      background-repeat: repeat-x;
      bottom: 0;
      width: 100%;
      height: 34px;
      left: 0;
    }
  }

  .greeting__link {
    &:hover {
      padding-bottom: 30px;
    }
  }

  .greeting {
    margin-bottom: 85px;
  }
}
