.greeting {
  position: relative;
}

.greeting__title {
  padding: 0 30px 104px;
  text-align: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin: 0 auto;
  width: 260px;
}

.greeting__list {
  list-style: none;
  padding: 0;
}

.greeting__link {
  text-decoration: none;
  display: block;
}

// .greeting__item {
//   width: 130px;
// }

.greeting__item--decor {
  background: $light-blue;
}

.greeting__item--toy {
  background: $light-blue-second;
}

.greeting__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $white;
  padding: 24px 160px 31px 30px;
  display: block;
  max-width: 130px;
}

.greeting__content-wrapper {
  padding: 72px 0 0;
  min-height: 489px;
}

.greeting__content-wrapper::before {
  content: "";
  display: block;
  height: 100%;
  background: url("../img/hero-mobile.jpg") no-repeat center 0;
  background-size: auto 76%;
  z-index: -1;
  width: 100%;
  position: absolute;
  top: -18px;
  left: 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}


@media (min-width: $tablet) {
  .greeting__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop) {
  .greeting__title {
    font-size: 53px;
    line-height: 57px;
  }
}
