.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  box-sizing: border-box;
  min-width: 320px;
  display: block;
  display: none;
}

.modal__wrapper {
  width: 320px;
  // max-width: 566px;
  padding: 28px 30px 46px;
  background: $white;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1150px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: $tablet) {
  .modal__wrapper {
    width: 566px;
    padding-left: 106px;
    padding-right: 106px;
  }
}
