.page-footer {
  background-color: $background-grey;
  padding-top: 26px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet) {
  .page-footer {
    padding: 30px 50px;
  }

  .page-footer__logo {
    display: flex;
    align-items: center;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__svg {
    width: 102px;
    height: 34px;
  }

  .page-footer__link {
    padding-top: 4px;
  }
}

@media (min-width: $desktop) {
  .page-footer__wrapper {
    margin: 0 auto;
    width: 1050px;
  }

  .page-footer__link {
    padding-left: 2px;
  }
}
