.page-footer {
  background-color: $background-grey;
  padding-top: 26px;
}

.page-footer__logo {
  display: none;
}

.page-footer__svg {
  fill: $black;
}

.page-footer__link .page-footer__svg:hover {
  fill: $blue-mail;
}

.page-footer__link .page-footer__svg:active {
  fill: $blue-mail;
  opacity: 0.3;
}

@media (min-width: $tablet) {
  .page-footer {
    padding: 30px 0;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-footer__logo {
    display: flex;
    align-items: center;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__link {
    padding-top: 4px;
  }
}

@media (min-width: $desktop) {
  .page-footer__wrapper {
    margin: 0 auto;
    width: 1050px;
    padding: 0;
  }

  .page-footer__link {
    padding-left: 2px;
  }
}
