.stock-nav {
  display: none;
}

@media (min-width: $desktop) {
  .stock-nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    min-height: 87px;
    margin-right: auto;
    width: 50%;
    padding-right: 85px;
    box-sizing: border-box;
  }

  .stock-nav__item {
    text-align: left;
    margin-left: 50px;
  }

  .stock-nav__link {
    text-decoration: none;
    color: $black;
    font-weight: 700;
    padding-top: 22px;
    padding-left: 0;
    margin-right: 37px;
    display: block;
    padding-bottom: 26px;
    font-size: 15px;
    line-height: 24px;
  }
}
