.user-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #000000;
}

.user-navigation__item {
  text-align: left;
}

.user-navigation__link {
  color: #000000;
  display: block;
  padding-top: 28px;
  padding-bottom: 26px;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  border-top: 1px solid #ECECEC;
  font-weight: 700;
  padding-left: 76px;
}

.user-navigation__item:last-child {
  border-bottom: 1px solid #ECECEC;
}
