@import "./global.scss";
@import "./variables.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/main-header.scss";
@import "./blocks/header-logo.scss";
@import "./blocks/site-list.scss";
@import "./blocks/user-navigation.scss";
@import "./blocks/stock-nav.scss";
@import "./blocks/greating.scss";
@import "./blocks/inner-page-title.scss";
@import "./blocks/form-page.scss";
@import "./blocks/form.scss";
@import "./blocks/radio.scss";
@import "./blocks/inner-page-text.scss";
@import "./blocks/special-title.scss";
@import "./blocks/checkbox.scss";
@import "./blocks/input-text.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/copyright.scss";
@import "./blocks/social.scss";
@import "./blocks/catalog-list.scss";
@import "./blocks/card.scss";
@import "./blocks/button.scss";
@import "./blocks/video.scss";
@import "./blocks/catalog-page.scss";
@import "./blocks/promo.scss";
@import "./blocks/advantages.scss";
@import "./blocks/reviews.scss";
@import "./blocks/section-title.scss";
@import "./blocks/contacts.scss";
@import "./blocks/map.scss";
@import "./blocks/index-page.scss";
@import "./blocks/modal.scss";
@import "./blocks/user-nav.scss";
@import "./blocks/content-wrapper.scss";
@import "./blocks/page.scss";
@import "./blocks/form-cart.scss";
