$sm: 320px;
$md: 768px;
$lg: 1200px;

// Viewports

$tablet: 768px;
$desktop: 1150px;
$mobile: 767px;

// Colors
$black: #000000;
$white: #ffffff;
$background-grey: #f1f1f1;
$border-grey: #444444;
$border-light-grey: #e1e1e1;
$blue: #62d1ba;
$title-blue: #63d1bb;
$link-grey: #231f20;
$light-grey: #ececec;
$light-blue: #63d1bb;
$light-blue-second: #79b9b0;
$background-house: #fafafa;
$border-grey2: #e6e6e6;
$blue2: #59d5bc;
$grey-active: #7c7c7c;
$grey-active2: #c7c7c7;
$blue-mail: #46c1ae;
$blue-opasity: #edf9f7;
$grey-opasity: #666666;
$border-grey3: #ededed;
$grey-active3: #b3b3b3;
